[Unit]
Description=consul firewall
After=network-online.target
Requires=network-online.target

[Service]
User=root
ExecStart=/opt/consul/bin/consul watch -type nodes /opt/consul/bin/firewall
Restart=on-failure

[Install]
WantedBy=default.target
