[Unit]
Description=consul firewall
After=network-online.target consul.service
Requires=network-online.target consul.service

[Service]
ExecStart=/usr/bin/consul watch -type nodes /usr/bin/firewall
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
