[Unit]
Description=Consul firewall watcher
Documentation=https://www.consul.io/docs/agent/watches.html
After=consul.service
Requires=consul.service

[Service]
ExecStart=/usr/bin/consul watch -type nodes /usr/bin/firewall
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
