[Unit]
Description=Socket for the rkt metadata service
PartOf=rkt-metadata.service

[Socket]
ListenStream=/run/rkt/metadata-svc.sock
SocketMode=0660
RemoveOnStop=true

[Install]
WantedBy=sockets.target
