[Unit]
Description=Garbage collection for rkt
Documentation=https://coreos.com/rkt/docs/latest/subcommands/gc.html

[Service]
Type=oneshot
Environment=GRACE_PERIOD=24h
ExecStart=/usr/bin/rkt gc --grace-period=${GRACE_PERIOD}
