[Unit]
Description=API service for rkt
Documentation=https://coreos.com/rkt/docs/latest/subcommands/api-service.html
After=network.target

[Service]
ExecStart=/usr/bin/rkt api-service --listen=localhost:15441

[Install]
WantedBy=default.target
