[Unit]
Description=fabio proxy
After=network-online.target consul.service
Requires=network-online.target

[Service]
User=fabio
Group=fabio
ExecStart=/usr/bin/fabio -cfg /etc/fabio.d/config.properties
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
