[Unit]
Description=Fabio load balancer
Documentation=https://github.com/eBay/fabio/wiki
After=consul.service
Requires=consul.service

[Service]
User=fabio
Group=fabio
ExecStart=/usr/bin/fabio -cfg /etc/fabio.d/config.properties
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
