[Unit]
Description=telegraf collector
After=network.target consul.service

[Service]
User=telegraf
Group=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf.d/config.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
