[Unit]
Description=Telegraf metrics collector
Documentation=https://docs.influxdata.com/telegraf/
After=network.target

[Service]
User=telegraf
Group=telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf.d/config.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=default.target
