[Unit]
Description=Nomad job scheduler
Documentation=https://www.nomadproject.io/docs/
After=network-online.target consul.service
Requires=network-online.target consul.service

[Service]
User=nomad
Group=nomad
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d/
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
