[Unit]
Description=Socket for the Docker Engine
PartOf=docker.service

[Socket]
ListenStream=/var/run/docker.sock
SocketMode=0660
SocketGroup=docker
RemoveOnStop=true

[Install]
WantedBy=sockets.target
