[Unit]
Description=docker engine
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
User=root
Group=docker
ExecStart=/usr/bin/dockerd --config-file /etc/docker.d/daemon.json
ExecReload=/bin/kill -s HUP $MAINPID
Delegate=yes
KillMode=process

[Install]
WantedBy=default.target
