[Unit]
Description=Consul service discovery
Documentation=https://www.consul.io/docs/index.html
After=network-online.target
Before=firewall.service
Requires=network-online.target
Wants=firewall.service

[Service]
User=consul
Group=consul
ExecStart=/usr/bin/consul agent -config-dir /etc/consul.d/
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
